@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&subset=latin-ext");

/*HEADER*/


.topnav {
  background-color: #F9CB41;;
  overflow: hidden;
  height: 150px;
}

.topnav a {
font-family: "Impact";
  float: right;
  color: black;
  text-align: center;
  padding: 50px 20px; 
  text-decoration: none;
  font-size: 35px;
font-weight: 100;
}

.topnav a:hover {

  color: #f1f1f1;
  
}

.topnav img {
  float: left;
  padding: 0px 16px;
    
 
}
@media only screen and (max-width: 1170px) {
    .topnav a{
        padding: 50px 5px;
        font-size: 30px;
        }
}

@media only screen and (min-width: 950px){
    #mySidebar{
        display: none;
    }
    
    #main {
        display: none;
    }
}
    

@media only screen and (max-width: 950px) {
    
    .topnav {
        display: none;
    }
    
    .sidebar img {
        padding: 0px 16px 0px 30px;
		float: middle;
    }
    
 .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F9CB41;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 16px 8px 16px 32px;
  text-decoration: none;
  font-family: Impact;
  font-size: 35px;
  color: black;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

.openbtn {
  cursor: pointer;
  background-color: Transparent;
  color: #F9CB41;
  font-size: 30px;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
    position
 transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}  
    
}

/* mobiilivaate lõpp */

.taustapilt{
    width:100%;
    height: calc(90vh);
    background-image: url("taust.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display:table;
}

.sisutekst {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0 10px 0;    
}

main button{
    background-color: #F9CB41;
    border: 5px solid black;
    padding:16px 150px;
    border-radius: 30px;
    text-align: center;
    font-size:55px;
    font-weight: 600;
    
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 3px;
    padding-bottom: 50px;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 3px;
    padding-bottom: 50px;
}


.punane {
    color: #FE361C;
}
.punane:hover{
    color: #f1f1f1;

}

.kollane {
    color: #F9CB41;
}

.roosa {
    color: #C65046;
}

.vari {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


/*treeningute lehe css*/


h3 {
    margin-left:80px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 35px;
    color: #C65046;
    padding-bottom: 25px;
}



.container .t_pilt {
	width: 45%;
	float: right;
	/*padding: 15px;*/
	margin-bottom: 100px;
}

.container .t_tekst{
	font-family: "Arial";
    font-size: 20px;
    margin-left: 80px;
    line-height: 28px;
	float: left;
	width: 45%;
}
 .container .t_tekst ul li{
        margin-left: 20px;
    }

.jalus{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

footer{
    width:calc(100%);
    padding: 2px;
    margin-top:10px;
    background-color: gainsboro;
    text-align: center;
    position: fixed;
    bottom:0;
} 

.sektsiooniEraldaja{
    margin-top:40px;
}

@media only screen and (max-width: 950px){
    h3 {
    margin-left:20px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 28px;
    color: #C65046;
    padding-bottom: 25px;
}
    .container .t_tekst{
    font-size: 16px;
    margin-left: 20px;
    line-height: 25px;
	width: 90%;
    padding-bottom: 20px;
}
   .container .t_pilt {
	width: 100%;
	float: left;
    margin-left: 20px;
	margin-bottom: 30px;
}
   
    
}

/*treenerite lehe css*/

.treenerid {
    float: left; 
    margin-bottom: 20px;
    margin-left: 20px;
    
}

.treeningud {
    float: right; 
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 20px;
    
}

.treeneripilt{
    float: left; 
    margin-bottom: 20px;
    margin-left: 50px;
    padding-right: 50px;
}



.tekst{
    font-family: "Arial";
    font-size: 18px;
    padding-right: 300px; 
    line-height: 25px;
}



h4 {
    font-family: "Arial";
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 40px;
    color: #F9CB41;
}

/*treenerite lehe mobiilivaade*/


@media only screen and (max-width: 950px){
    
img {
  width: 80%;
  height: auto;
}
    
.treenerid {
    margin-left: 0px;
}
    
.treeneripilt{
    float: left; 
    margin-bottom: 20px;
    margin-left: 20px;
    padding-right: 0px; 
}

.tekst{
   
    font-family: "Arial";
    font-size: 16px;
    padding-right: 0px;
    margin-left:10px;
    line-height: 25px;
}
    
h4 {
    font-family: "Arial";
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    color: #F9CB41;
}
    
}

/* esilehe mobiilivaate seadistus */
@media only screen and (max-width: 950px) {

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 3px;

}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;

}

main button{
    background-color: #F9CB41;
    border: 5px solid black;
    padding:16px 60px;
    border-radius: 30px;
    text-align: center;
    font-size:25px;
    font-weight: 600;
}

.taustapilt{
	height:800px;
    background-image: url("taust.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display:table;	
}

}